<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <%# 記事を部分テンプレートにしたら実装する %>
  <%# <% @posts.each do |tweet| %>
    <%# <%= render partial: "posts/post", locals: { post: post } %>
  <%# <% end %>
</div>