<div class="user">
  <header class="user__header">
    <%= link_to "トップページ", root_path, class:"form__btn" %>
  </header>
  <h2>
    <%= @user.nickname %>さんの投稿一覧
  </h2>
  <div class="user__show__wrap">
    <%= render partial: "posts/post", collection: @user.post %>
  </div>
</div>