.new__post {

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }

  &__header {
    padding: 2vh 0;  
  }

  &__main {
    background-color: #efefef;
    width: 70vw;
    height: 100%;
    min-width: 450px;
    padding: 10vh 15vw;  
  }
}

/* 共用 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin: 10px;
}

.posts-title {
  width: 100%;
  padding: 16px 8px;
}

.posts-text {
  height: 555px;
  width: 100%;
  padding: 16px 8px;
}

/* 画像関係 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

/* セレクトボックス */
.items-detail {
  width: 100vw;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}

/* フォーム関係 */

.form__btn {

  &-content{
    padding: 2vh 0;
  }

  &-submit{
    width: 100%;
    height: 30px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #55c500;
    border: 1px #55c500 solid;
    border-radius: 3px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    transition: 0.2s ease;
  }
}